@import 'components/_reset.scss';
@import 'components/_variables.scss';


body {
  background-color: $main-color;
  color: black;
  font-family: PlayfairDisplay;
  font-size: 16px;
}

h1 {
  padding: 20px;
  color: $second-color;
  font-size: 24px;
  font-weight: 800;
}
