@import 'components/_reset.scss';
@import 'components/_variables.scss';


body {
    font-family: PlayfairDisplay;
    font-size: 16px;

    color: black;
    background-color: $main-color;
}

h1 {
    font-size: 24px;
    font-weight: 800;

    padding: 20px;

    color: $second-color;
}
